body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif ;
    background-color: black;
}
.section-content-container{
    margin: 0 350px!important;
}
.intro-section{
    background-color: black;    
    width: 100vw;
    height: fit-content;
}
.intro-main{
    height: 100%;
}
#navbar-style{
    background-color: black !important;
    width: 100vw;
}
/* Chỉnh logo */
.navbar .logo{
    font-family: "Protest Guerrilla", sans-serif;
    color: white;
    /* display: block; */
    padding: 10px 0px;
    font-size: 30px;
    margin-left: 40px;
}
#contact-information-container{
    background-color:black!important;
    width: 35%;
    margin: 0 auto;
}
/* Chỉnh logo-information */
i.nav-icon{
    font-size: 30px;
    color: white;
}
i.nav-icon:hover{
    font-size: 35px;
}

/* Căn giữa icon */
.icon-col{
    text-align: center;
}
/* Chỉnh button navbar */
#navbar-button{
    border: 3px solid white;
    text-align: center;
    margin-right:80px;
}
#navbar-button:hover{
    border: 3px solid white;
    border-radius: 40px;
    background-color: white;
}
/* Style chữ bên trong */
#navbar-button h4{
    color: white;
    padding: 5px 0;
    text-align: center;
    margin-bottom: 0;
    font-size: 20px;
}
#navbar-button h4:hover{
    color: black!important;
}
/* Chỉnh intro-main */
/* Intro-img */
.intro-main-container .col{
    height: 100%;
}
.img-col{
    display: grid;
    place-items: center;
}
.intro-img{
    width: 400px;
    border: solid white 3px;
    margin-top: 15px;
    margin-left: 60px;
}
/* Intro-Information */
.infor-content-container{
    color: white;
    font-family: "Protest Guerrilla", sans-serif;
    margin: auto 20px;
    height: 300px;
    /* border: white solid 5px; */
}
.infor-content-container h2{
    font-size: 40px;
    padding: 30px 0;
}
.infor-content-container h4{
    font-size: 25px;
    padding-bottom: 20px;
}
.infor-content-container p{
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.content{
    height: 80%;
    margin: 25% 0;
}
/* View my work */
.view-my-work li.dropdown{
    color: white;
    margin-left: 40px;
}
/* Project */
  .Porfolio-pic-main img{
    width: 100%;
    height: 80%;
    object-fit: contain;
    align-items: center;
}
/* Chỉnh nút View My work */
.btn-Dropdown{
    background-color: black;
    color: white;
    margin-left: 40px;
    border: 3px solid white;
    padding: 0;
}
.dropdown-toggle-split{
    color: white;
    font-size: 20px;
    /* border: 4px solid white; */
    padding: 0 15px;
}
.dropdown-toggle-split:hover{
    border: 3px solid white;
}
.view-my-work{
    text-align: right;
}
.btn-Dropdown h4{
    padding: 10px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
}
.btn-Dropdown ul{
    border: 2px white solid;
    border-radius: 20px;
}
.dropdown-menu a.dropdown-item{
    font-weight: 700;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: black;
    color: white;
}
.dropdown-menu a.dropdown-item:hover{
    border: white 2px solid;
    border-radius: 20px;
}
.dropdown-menu{
    padding: 20px 0;
    background-color: black;
}
/* .Projects */
.project-container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 30px 0;
    padding-bottom: 40px;
}
.project-container img{
    width: 100%;
    height: 80%;
    object-fit: contain;
    align-items: center;
    border: 1px white solid;border-radius: 20px;
}