body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif ;
}
.intro-section{
    background-color: black;    
    width: 100vw;
    height: fit-content;
}
#navbar-style{
    background-color: black !important;
    width: 100vw;
}
/* Chỉnh logo */
.navbar .logo{
    font-family: "Protest Guerrilla", sans-serif;
    color: white;
    /* display: block; */
    padding: 10px 0px;
    font-size: 30px;
    margin-left: 40px;
}
#contact-information-container{
    background-color: black!important;
}
/* Chỉnh logo-information */
i.nav-icon{
    font-size: 40px;
    color: white;
}
i.nav-icon:hover{
    color:#674188;
}
/* Căn giữa icon */
.icon-col{
    text-align: center;
}
/* Chỉnh button navbar */
#navbar-button{
    border: none;
    text-align: center;
    margin-right:40px;
}
#navbar-button:hover{
    border: 3px solid white;
    background-color: #674188;
    color: white;
}
/* Style chữ bên trong */
#navbar-button h4{
    color: white;
    padding: 5px 0;
    text-align: center;
    margin-bottom: 0;
}
/* Chỉnh intro-main */
/* Intro-img */
.intro-main-container .col{
    border: white 3px solid;
    height: 560px;
}
.img-col{
    display: grid;
    place-items: center;
}
.intro-img{
    width: 400px;
    border: solid white 3px;
    margin-top: 15px;
    margin-left: 60px;
}
/* Intro-Information */
.infor-content-container{
    color: white;
    font-family: "Protest Guerrilla", sans-serif;
    margin: auto 20px;
    height: 400px;
    border: white solid 5px;
}
.infor-content-container h2{
    font-size: 40px;
    padding: 30px 0;
}
.infor-content-container h4{
    font-size: 25px;
    padding-bottom: 20px;
}
.infor-content-container p{
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}